package components;

templ Footer() {
	<footer class="py-6">
		<div class="container flex items-center justify-between mx-auto px-8">
			<p class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
				&copy; 2024 Calum Mackenzie-Chambers. All rights reserved
			</p>
		</div>
	</footer>
}
