package separator;

type Props struct {
	Direction Direction
	Class     string
}
type Direction string

const (
	Horizontal Direction = "horizontal"
	Vertical   Direction = "vertical"
)

templ Separator(props Props) {
	if props.Direction == Vertical {
		<span class={ "h-full block w-0.5 bg-muted-background", props.Class } role="none"></span>
	} else {
		<hr class={ "border-t-2 rounded-full w-full", props.Class }/>
	}
}
