package components;

import "github.com/CalumMackenzie-Chambers/templ-ui/components/typography"

templ Index() {
	@typography.MainHeading("Components")
	@typography.SubHeading("A set of minimally styled components using tailwind css and designed to be used with templ and go")
	<section id="example" class="mb-8">
		@typography.Paragraph("This page is empty ... If you would like to contribute to make the docs better you can follow the link to the github repo in the header")
	</section>
}
